@import url('https://fonts.googleapis.com/css2?family=Montserrat:w&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
	color: #fff;
}

#home-image{
	
}
html, body {
	height: 100%;
	/* perspective: 1000px; */
	width: 100%;
}

#cursor{
	height: 20px;
	width: 20px;
	background-color: #95c11e;
	border-radius: 50%;
	position: fixed;
	z-index: 1;
}
#cursor-bg{
	height: 400px;
	width: 400px;
	background-color: #c0ff1145;
	border-radius: 50%;
	position: fixed;
	filter: blur(50px);
	z-index: 9;
}

#nav{
	height: 145px;
	width: 100%;
	display: flex;
	align-items: center;
	padding: 0 122px;
	position: fixed;
	gap: 50px;
	justify-content: flex-start;
	z-index: 99;
}

#nav img{
	height: 75px;
}

#nav h4{
	cursor: pointer;
	text-transform: uppercase;
	font-weight: 500;
}

video{
	height: 100%;
	width: 100%;
	object-fit: cover;
	position: fixed;
	z-index: -1;
}

#main{
	position: relative;
	background-color: rgba(0,0,0,0.25);
}

#page1{
	height: 100vh;
	width: 100%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	z-index: 10;
}
#arrow{
	height: 250px;
	width: 250px;
	background-color: transparent;
	border: 2px solid #95c11e;
	position:absolute;
	left: -2%;
	bottom:0%;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	transition: all ease 0.5s;
}
#arrow i{
	font-size: 50px;
	font-weight: 100;
}
#arrow:hover{
	scale: 0.5;
	background-color: #95c11e;
}
#arrow:hover i{
	font-size: 50px;
	font-weight: 100;
	
}
#page1 h1{
	font-size: 140px;
	font-weight: 900;
	position: relative;
}
#page1 h1::before {
	content: "EAT. DRINK. PLAY.";
	position: absolute;
	color: #000;
	top: -5px;
	left: -5px;
	-webkit-text-stroke:2px #bbff00 ;
	z-index: -1;
}
#page1 h2{
	font-size: 30px;
	font-weight: 800;
	margin-top: 10px;
	margin-bottom: 20px;
}
#page1 p{
	font-size: 20px;
	font-weight: 500;
	width: 40%;
}

#page2{
	min-height: 100vh;
	width: 100%;
	z-index: 10;
}
#scroller{
	/* background-color: red; */
	white-space: nowrap;
	 overflow-x: auto;
	overflow-y: hidden; 
	color: black;
	position: relative;
	z-index: 10;
}

#scroller::-webkit-scrollbar{
	display: none;
}

#scroller-in{
	color: black;
	z-index: 10;
	display: inline-block;
	white-space: nowrap;
	animation-name: scroll;
	animation-duration: 30s;
	animation-timing-function: linear;
	animation-iteration-count: infinite; 
}

#scroller h4{
	display: inline-block;
	font-size: 120px;
	font-weight: 900;
	color: black;
	z-index: 100;
	margin-right: 70px;
	transition: all linear 0.5s;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	/* color: transparent; */
	-webkit-text-stroke: 2px #ffffff;
}

#scroller h4:hover{
	color: #95c11e;
}

@keyframes scroll {
	from{
		transform: translateX(0);
	}
	to{
		transform: translateX(-100%);
	}
}

#about-us{
	height: 40vh;
	width: 100%;
	/* background-color: red; */
	display: flex;
	padding: 0 50px; 
	position: relative;
	z-index: 10;
	align-items: center;
	justify-content: space-around;
}

#about-us img{
	height: 220px;
	width: 220px;
	border-radius: 20px;
	object-fit: cover;
}
#about-us-in{
	width: 50%;
	text-align: center;
}

#about-us-in h3{
	font-size: 54px;
	font-weight: 800;
	margin-bottom: 30px;
}
#about-us-in p{
	font-size: 20px;
	line-height: 38px;
}
#cards-container{
	/* background-color: red; */
	height: 60vh;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 70px;
	position: relative;
	z-index: 10;
}

.card{
	height: 65%;
	width: 26%;
	/* background-color: blue; */
	border-radius: 20px;
	background-size: cover;
	background-position: center;
	overflow: hidden;
	transition: all ease 600ms;
}

#card1{
	background-image: url(https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/home-toptracer-1024x682.jpg?strip=all&lossy=1&sharp=1&ssl=1);
}
#card2{
	background-image: url(https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/hero-4-1024x1024.jpg?strip=all&lossy=1&sharp=1&ssl=1);
}
#card3{
	background-image: url(https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/home-lessons-1024x682.jpg?strip=all&lossy=1&sharp=1&ssl=1);
}
.overlay{
	height: 100%;
	width: 100%;
	background-color: #95c11e;
	padding: 30px;
	padding-top: 160px;
	opacity: 0;
	transition: all ease 600ms;
}
.card:hover .overlay{
	opacity: 1;
}

.overlay h4{
	color: black;
	font-size: 34px;
	text-transform: uppercase;
	white-space: nowrap;
	margin-bottom: 20px;
	font-weight: 800;
}
.overlay p{
	color: black;
	font-size: 18px;
}

.card:hover{
	transform: rotate3d(-1, 1,0, 20deg);
} 
#green-div{
	height: 30vh;
	/* position: relative; */
	/* z-index: 1; */
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: linear-gradient(to left bottom, #00b928 , #ACE022);
}

#green-div h4{
	width: 45%;
	
	line-height: 50px;
	color: #fff;
	font-weight: 800;
	text-align: center;
	font-size: 40px;
	text-transform: uppercase;
}
#green-div img{
	height: 100%;
	object-fit: cover;
	width: 14%;
}
#rotate-180{
	transform: rotateY(180deg);
}

#page3{
	height: 100vh;
	width: 100%;
	background-color: #000;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}

#page3>p{
	font-size: 35px;
	font-weight: 700;
	width: 55%;
	line-height: 45px;
	text-align: center;
}

#page3 img{
	position: absolute;
	height: 55px;
}

#page3 #colon1{
	left: 19%;
	top: 35%;
}
#page3 #colon2{
	right: 19%;
	bottom: 35%;
}
#page4{
	height: 25vh;
	width: 100%;
	/* background-color: red; */
	display: flex;
	align-items: center;
	justify-content: center;
	gap:30px;
	position: relative;
}

.elem{
	height: 65%;
	width: 27%;
	overflow: hidden;
	border-radius: 15px;
	position: relative;

}
.elem h2{
	height: 100%;
	width: 100%;
	background-color: #A2D220;
	display: flex;
	color: black;
	align-items: center;
	justify-content: center;
	font-size: 40px;
	font-weight: 800;
	position: absolute;
	transition:  500ms;
	z-index: 10;
}

.elem img{
	transition: 500ms;
	height: 100%;
	width: 100%;
	scale: 1.2;
	object-fit: cover;
}
.elem:hover img{
	scale: 1;
}
.elem:hover h2{
	background-color: transparent;
	color: white;
}

#page4 h1{
	font-size: 100px;
	position: absolute;
	top: -20%;
	z-index: 10;
	font-weight: 900;
	font-family:Arial, Helvetica, sans-serif ;
	color: black;
	-webkit-text-stroke: 2px white;
}

#footer{
	height: 35vh;
	width: 100%;
	position: relative;
	background:linear-gradient(to bottom left, #0CBC27, #95c11e);
}
#footer img{
	height: 25vh;
	position: absolute;
	z-index: 1;
	top: 60px;
}
#footer-content{
	display: flex;
	flex-direction: row;
	justify-content: center;
	
}

#container{
	display: flex;
	padding-top:80px ;
	flex-direction: column;
	justify-content: space-evenly;
	/* margin-top: 50px; */
	padding:   0 100px;
	height: 100%;
}
#container1{
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-direction: row;
}
#img-logo{
	display: flex;
	flex-direction: column;
	/* justify-content: space-between; */
	width: 20vh;
	height: 25vh;
}
#logo-footer {
	height: 7vh;
	width: 7vh;

}
#logo-footer img{
	height: 7vh;
	background-size: cover;
	object-fit: contain;
	top: 100px;
}
#container2 {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.links{
	font-size: 20px;
	line-height: 70px;
}
.links h2{
	color: black;
}
.links h2:hover{
	/* font-size: 20px;
	line-height: 70px; */
	color: white;
	cursor: pointer;
}
#icons-footer{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	gap: 10px;
}
#icons-footer img{
	margin: 10px;
	height: 2vh;
}
